:root {
    /*  */
    /* Paleta desde adobe color */
    
    --my-negro: #0D2601;
    --my-v-oscuro: #365902;
    --my-verde: #5F8C1B;
    --my-v-claro: rgb(159, 195, 124);
    --my-blanco: #D9D9D9;
}

li hr {
    margin: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--my-v-claro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    box-shadow:  0px 0px 5px #4f5b6d;
}

/* CSS del buscador */

.buscador {
    height: 34px;
    border: 2px solid #eceff1;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.buscador:hover {
    background-color: rgb(180, 211, 150);
}

.buscador img {
    height: 24px;
}

.buscador input {
    border: none;
    background: none;
}

.buscador input::placeholder {
    color: #eceff1;
}

.buscador input:focus {
    outline-style: none;
    width: 400px;
    height: 36px;
}
/* CSS del buscador */

.header div a {
    padding: 0 25px;
    text-decoration: none;
    color: #eceff1;
    font-weight: 700;
    justify-content: space-around;
}

.menu_open { 
    display: none;
}

header div a:hover {
    transform: scale(1.1);
}

.dropstart {
    display: none;
}

/* CSS de about.html para ventana emergente */
main .imagen-about {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}
.modal-body .header h2 {
    font-size: 1.5rem;
    padding-left: 15px;
    color: #eceff1;
}
.modal-header a img {
    height: 30px;
    border-radius: 50%;
    transition: all 0.3s;
}
.mi-articulo h1 {
    color: var(--my-verde);
    text-align: center;
}
.mi-articulo h3 {
    color: var(--my-verde);
    text-align: center;
}

.mi-articulo p {
    padding: 5px 10PX;
    text-align: justify;
}

.header a img {
    height: 30px;
    border-radius: 50%;
    transition: all 0.3s;
}

.header a img:hover {
    transform: scale(1.2);
}

.header div button {
    cursor: pointer;
    padding: 0 25px;
    height: 30px;
    border-style: none;
    border-radius: 15px;
    color: var(--my-verde);
    background-color: var(--my-blanco);
    font-weight: 700;
}

.header div button:hover {
    border: solid 2px #eceff1;
    background-color: rgb(159, 195, 124);
    color: #eceff1;
}

/* Menu desplegable a traves de bootstrap */
.menu_open {
    display: none;
}

.btn-group .btn {
    display: none;
}

.dropdown-menu .show ul li a {
    font-size: 2rem;
    background-color: #3483fa;
    color: red;
    height: 30px;
}

.dropdown-menu li {
    margin: 5px;
}

/* CSS Mensaje para instalar app */

.install-app {
    display: none;
    background-color: black;

}

.install-app img {
    height: 30px;
    border-radius: 50%;
}

.install-app p {
    font-size: 0.9rem;
    /* margin: 0 30px; */
    color: #eceff1;
    background: none;
}

.install-app button {
    background-color: #3483fa;
    color: #eceff1;
    padding: 4px 6px;
    border: none;
    border-radius: 3px;

}

main {
    display: flex;
    flex-direction: column;
}
main .imagen-principal-1 {
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 800px;
    margin-top: 10px;
}

h1 {
    color: grey;
}
p {
    background-color: aquamarine;
}

section article p {
    background-color: rgb(203, 213, 222);
    border-radius: 15px;
}

footer {
    border-top: 1px solid black;
    height: 40px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 0 auto;
}

form input {
    width: 320px;
    border: solid 1px rgb(84, 68, 132);
    height: 40px;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 4px;
    padding-left: 15px;
}

/* Aqui comienza - Css para la pagina de Inicio de Sesion */
.logo-acount {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.acount-logo {
    width: 50px;
    margin: 15px;
}

.acount-title {
    color: var(--my-v-oscuro);
    font-size: 2rem;
    font-weight: 700;
}

.acount-container { /*Contenedor de todo el login*/
    width: 400px;
    border: solid 1px rgb(84, 68, 132);
    height: 600px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 100px;
    border-radius: 15px;
}

.acount-container form h2 { /*Css del titulo en el registro*/
    margin: 0 auto;
}

.container-usur { /*Contenedor del input - Usuario*/
    display: flex;
    width: 320px;
    border: solid 1px rgb(84, 68, 132);
    height: 40px;
    margin: 0 auto;
    margin-top: 45px;
    border-radius: 4px;
    align-items: center;
    justify-content: flex-start;
}

.container-usur img {
    margin: 0 10px;
    cursor: pointer;
}
.container-usur input {
    border: none;
}

.container-usur input:focus {
    outline: none;
}

.container-password { /*Contenedor del input - Contraseña*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 320px;
    border: solid 1px rgb(84, 68, 132);
    height: 40px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 4px;
}
.container-password img { 
    margin: 0 10px;
    cursor: pointer;
}
.container-password input {
    border: none;
}

.container-password input:focus {
    outline: none;
}

.container-recordatorio { /*Contenedor del check para recuerdame*/
    display: flex;
    justify-content: space-between;
    width: 320px;
    margin: 0 auto;
}

.button-iniciosesion { /*Contenedor boton de Inicio de Sesion*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 40px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
}

.button-registro { /*Contenedor boton de Registrarse*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 40px;
    margin: 0 auto;
    border-radius: 10px;
}

.p-sign-in {
    background:  none;
    text-align: center;
}




/* Aqui finaliza - Css para la pagina de Inicio de Sesion */

/* Medias queries */

@media (max-width: 826px) {

    .dropstart {
        display: flex;
    }

    .menu-lg {
        display: none;
    }

    header div button {
        display: none;
    }

    .menu_open {
        display: flex;
        height: 30px;
    }

    .btn-group .btn {
        display: flex;
    }

    .dropstart button .dropdown-toggle::before {
        display: none;
        border-right: none;
    }

    .dropdown-menu .show {
        width: 180px;
    }
    .header div a {
        padding: 0 5px;
        color: var(--my-verde);
    }
    .header div button:active {
        background-color: var(--my-verde);
    }
}

@media (max-width: 660px) {
    .buscador input:focus {
        outline-style: none;
        width: 200px;
        height: 36px;
    }
}

@media (max-width: 360px) {
    .install-app {
        display: flex;
        align-items: center;
        padding: 5px;
    }
}